# BEGIN iThemes Security
	# BEGIN Hide Backend
			# Rules to hide the dashboard
			RewriteRule ^(/websites/hockeyclubouest/)?hcologin/?$ /websites/hockeyclubouest/wp-login.php [QSA,L]
		
	# END Hide Backend
# END iThemes Security
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /websites/hockeyclubouest/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /websites/hockeyclubouest/index.php [L]
</IfModule>

# END WordPress